* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

.etsy-title {
    color: darkorange;
    font-size: 40px;
    padding: 20px 20px;
}

.navtop {
    padding-top: 10px;
}

.navtop a:link{
    color: #7e7777;
    text-decoration: none;
    margin-right: 20px;
}

.navtop a:hover {
    text-decoration: underline;
}

.navlinks a{
    display: block;
}

.card {
    max-width: 250px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    background: #ffffff;
    display: inline-block;
}

.card-caption {
    text-align: left;
}

.card-shop {
    text-align: left;
}

.card-price {
    text-align: right;
}

.flag {
    display: inline;
    max-width: 25px;
}

.well {
    background: white;
}

main {
    background: #faf9f5;
}

main a:link {
    color: #444444;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

footer a:link {
    color: #444444;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



